In [228]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [229]:
input_path = '../../data/clean_cars.csv'

In [230]:
data = pd.read_csv(input_path)

In [231]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2868 entries, 0 to 2867
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car_ID        2868 non-null   int64
 1    Genmodel_ID  2868 non-null   object
 2   Maker         2868 non-null   object
 3    Genmodel     2868 non-null   object
 4   Year          2868 non-null   int64
 5   Bodytype      2868 non-null   object
 6   Engin_size    2868 non-null   float64
 7   Gearbox       2868 non-null   object
 8   Fuel_type     2868 non-null   object
 9   Price         2868 non-null   float64
 10  Seat_num      2868 non-null   float64
 11  Door_num      2868 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 269.0+ KB

In [233]:
# feature_cols = ['Year', 'Engin_size', 'Gearbox', 'Seat_num', 'Door_num', 'Price']
feature_cols = ['Engin_size', 'Gearbox', 'Seat_num', 'Door_num']
# feature_cols = ['Engin_size', 'Seat_num', 'Door_num']


feature = pd.get_dummies(data[feature_cols]).astype(float)


# if not isinstance(feature, pd.DataFrame):
#     raise TypeError(f"Provided argument df need to be pd.Dataframe, but now it is {type(feature)}")

# scaler_std = StandardScaler()
# feature_scaled = pd.DataFrame(scaler_std.fit_transform(feature), columns=feature.columns)

In [234]:
feature

,Engin_size,Seat_num,Door_num,Gearbox_Automatic,Gearbox_Manual,Gearbox_Semi-Automatic
0,6.8,5.0,4.0,1.0,0.0,0.0
1,6.8,5.0,4.0,1.0,0.0,0.0
2,6.0,5.0,5.0,1.0,0.0,0.0
3,6.0,5.0,5.0,1.0,0.0,0.0
4,4.0,5.0,5.0,1.0,0.0,0.0
...,...,...,...,...,...,...
2863,2.0,5.0,5.0,1.0,0.0,0.0
2864,1.5,5.0,5.0,1.0,0.0,0.0
2865,2.0,5.0,5.0,0.0,1.0,0.0
2866,2.0,5.0,5.0,0.0,1.0,0.0
2867,2.4,5.0,5.0,1.0,0.0,0.0

In [235]:
feature_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2868 entries, 0 to 2867
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    2868 non-null   float64
 1   Engin_size              2868 non-null   float64
 2   Price                   2868 non-null   float64
 3   Seat_num                2868 non-null   float64
 4   Door_num                2868 non-null   float64
 5   Gearbox_Automatic       2868 non-null   float64
 6   Gearbox_Manual          2868 non-null   float64
 7   Gearbox_Semi-Automatic  2868 non-null   float64
dtypes: float64(8)
memory usage: 179.4 KB

## combine everything

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [9]:
input_path = '../../data/clean_cars.csv'
output_path = '../../data/feature.csv'
feature_cols = ['Engin_size', 'Gearbox', 'Seat_num', 'Door_num']
is_get_dummies = True
is_standardize = True

In [10]:
data = pd.read_csv(input_path)

feature = data[feature_cols]

if is_get_dummies:
    feature = pd.get_dummies(data[feature_cols]).astype(float)

if is_standardize:
    scaler_std = StandardScaler()
    feature = pd.DataFrame(scaler_std.fit_transform(feature), columns=feature.columns)

feature.to_csv(output_path, index=False)

In [11]:
feature

      Engin_size  Seat_num  Door_num  Gearbox_Automatic  Gearbox_Manual
0      -0.775682 -2.135563 -1.731768           1.089790       -1.089790
1      -0.775682 -2.135563 -1.731768           1.089790       -1.089790
2      -0.775682 -2.135563 -1.731768           1.089790       -1.089790
3      -0.775682 -0.553133 -0.908647          -0.917608        0.917608
4      -0.775682 -0.553133 -0.908647          -0.917608        0.917608
...          ...       ...       ...                ...             ...
2863    0.065983  1.820511  0.737594           1.089790       -1.089790
2864   -0.270683  1.820511  0.737594           1.089790       -1.089790
2865    0.065983  1.820511  0.737594           1.089790       -1.089790
2866   -0.270683  1.820511  0.737594           1.089790       -1.089790
2867   -0.270683  1.820511  0.737594           1.089790       -1.089790

[2868 rows x 5 columns]